.mainHeader {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/Barnes2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-attachment: fixed; }
  @media only screen and (max-width: 425px) {
    .mainHeader {
      height: 100vh; } }

.headContact {
  height: 40px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  padding-left: 660px; }
  @media only screen and (max-width: 1024px) {
    .headContact {
      padding-left: 300px; } }
  @media only screen and (max-width: 768px) {
    .headContact {
      padding-left: 72px; } }
  @media only screen and (max-width: 425px) {
    .headContact {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      border-bottom: none;
      text-align: center;
      padding-left: 0px; } }

.headEmail {
  border-right: 1px solid #e7e7e7;
  padding-right: 20px; }
  .headEmail h4 {
    font-size: 18px;
    font-weight: lighter;
    color: #e7e7e7eb;
    padding-top: 6px; }
  .headEmail .fa-envelope {
    padding-right: 10px; }

.headPhone {
  margin-left: 40px;
  border-right: 1px solid #e7e7e7;
  padding-right: 20px; }
  .headPhone h4 {
    font-size: 18px;
    font-weight: lighter;
    color: #e7e7e7eb;
    padding-top: 6px; }
  .headPhone .fa-phone {
    padding-right: 10px; }
  @media only screen and (max-width: 425px) {
    .headPhone {
      margin-left: 0px; } }

.clientPortal {
  margin-top: 5px;
  margin-left: 60px; }
  .clientPortal a {
    font-size: 22px;
    color: #e7e7e7eb; }
  @media only screen and (max-width: 1024px) {
    .clientPortal {
      margin-left: 30px; } }
  @media only screen and (max-width: 425px) {
    .clientPortal {
      margin-left: 0px; } }

.menuContain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  width: 100%; }
  @media only screen and (max-width: 425px) {
    .menuContain {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      padding-top: 60px; } }

.Logo {
  margin-left: 70px; }
  .Logo h2 {
    font-size: 60px;
    font-weight: 400;
    color: #e7e7e7eb; }
    @media only screen and (max-width: 425px) {
      .Logo h2 {
        display: none; } }
  .Logo img {
    height: 50px;
    width: 50px; }
  .Logo p {
    font-size: 24px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #e7e7e7eb;
    letter-spacing: 14px; }

.current {
  border: 2px solid #62adc2;
  border-radius: 40px;
  padding: 6px 10px 6px 10px; }

.mainMenu {
  margin-top: 30px;
  margin-right: 40px; }
  .mainMenu a {
    font-size: 20px;
    font-weight: lighter;
    color: #e7e7e7eb;
    padding-left: 10px;
    transition: 0.6s; }
  .mainMenu a:hover {
    color: #62adc2; }
  @media only screen and (max-width: 425px) {
    .mainMenu {
      width: 400px;
      margin: 20px 0 0 20px; } }

.showcaseWelcome {
  margin-top: 200px;
  margin-left: 70px;
  width: 500px; }
  .showcaseWelcome h2 {
    font-size: 50px;
    font-weight: lighter;
    color: #e7e7e7eb;
    text-transform: capitalize;
    word-spacing: 2px; }
    @media only screen and (max-width: 768px) {
      .showcaseWelcome h2 {
        font-size: 40px; } }
  .showcaseWelcome p {
    font-size: 17px;
    font-weight: lighter;
    color: #e7e7e7eb;
    width: 350px; }
  .showcaseWelcome .btnContain {
    border: 1px solid #e7e7e7eb;
    border-radius: 40px;
    width: 100px;
    text-align: center;
    padding: 6px 12px 6px 12px;
    transition: 0.6s;
    margin-top: 30px; }
    .showcaseWelcome .btnContain a {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7eb;
      text-transform: capitalize; }
  .showcaseWelcome .btnContain:hover {
    background-color: #62adc2;
    box-shadow: 0px 4px 20px #30303092;
    border: none; }
  @media only screen and (max-width: 768px) {
    .showcaseWelcome {
      margin-left: 40px; } }
  @media only screen and (max-width: 425px) {
    .showcaseWelcome {
      margin-top: 260px;
      width: 350px; } }

.globalFoot {
  height: 45vh;
  width: 100%;
  padding-top: 160px; }

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset; }
  .footerNav .abtBlock {
    width: 400px; }
    .footerNav .abtBlock h3 {
      font-size: 30px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize; }
      @media only screen and (max-width: 425px) {
        .footerNav .abtBlock h3 {
          font-size: 20px; } }
    .footerNav .abtBlock p {
      font-size: 17px;
      font-weight: lighter;
      line-height: 24px;
      padding-top: 10px; }
      @media only screen and (max-width: 425px) {
        .footerNav .abtBlock p {
          font-size: 14px; } }
    @media only screen and (max-width: 1024px) {
      .footerNav .abtBlock {
        width: 300px;
        margin-left: 40px; } }
  .footerNav .contactBlock {
    width: 300px; }
    .footerNav .contactBlock h3 {
      font-size: 30px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize; }
      @media only screen and (max-width: 425px) {
        .footerNav .contactBlock h3 {
          font-size: 20px; } }
    .footerNav .contactBlock p {
      font-size: 17px;
      font-weight: lighter;
      line-height: 24px;
      padding-top: 10px; }
      @media only screen and (max-width: 425px) {
        .footerNav .contactBlock p {
          font-size: 14px; } }
  .footerNav .navBlock {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset; }
    .footerNav .navBlock h3 {
      font-size: 30px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize; }
      @media only screen and (max-width: 425px) {
        .footerNav .navBlock h3 {
          font-size: 20px; } }
    .footerNav .navBlock a {
      font-size: 17px;
      font-weight: lighter;
      line-height: 24px;
      padding-top: 10px;
      color: #303030;
      transition: 0.6s;
      width: 90px; }
      @media only screen and (max-width: 425px) {
        .footerNav .navBlock a {
          font-size: 14px; } }
    .footerNav .navBlock a:hover {
      color: #62adc2; }
  .footerNav #footerIcon {
    font-size: 20px;
    margin-right: 60px;
    background-color: #e7e7e7;
    padding: 10px;
    color: #303030; }
    @media only screen and (max-width: 1024px) {
      .footerNav #footerIcon {
        display: none; } }

.copyRight {
  margin-top: 142px;
  text-align: center;
  background-color: #303030;
  height: 40px; }
  .copyRight p {
    font-size: 18px;
    font-weight: lighter;
    color: #e7e7e7eb;
    padding-top: 6px; }

.compContain {
  width: 100%;
  margin-top: -60px; }

.compRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .compRow .block {
    height: 150px;
    width: 300px;
    background-color: #f5f5f5;
    border-right: 2px solid #c4c4c4;
    transition: 0.6s;
    text-align: center; }
    .compRow .block h4 {
      font-size: 20px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize;
      transition-delay: 0.1s; }
    .compRow .block p {
      font-size: 14px;
      font-weight: lighter;
      text-transform: capitalize;
      width: 160px;
      margin-left: 70px; }
      @media only screen and (max-width: 1024px) {
        .compRow .block p {
          margin-left: 40px; } }
      @media only screen and (max-width: 768px) {
        .compRow .block p {
          margin-left: 10px; } }
      @media only screen and (max-width: 425px) {
        .compRow .block p {
          margin-left: 70px; } }
    @media only screen and (max-width: 768px) {
      .compRow .block {
        width: 180px; } }
    @media only screen and (max-width: 425px) {
      .compRow .block {
        border-bottom: 2px solid #c4c4c4;
        border-right: none;
        width: 300px; } }
  .compRow .block:nth-last-child(1) {
    border-right: none; }
    @media only screen and (max-width: 425px) {
      .compRow .block:nth-last-child(1) {
        border-bottom: none; } }
  .compRow #faster .fa-stopwatch {
    font-size: 30px;
    padding-top: 30px; }
  .compRow #faster:hover {
    color: #e7e7e7eb;
    background-color: #62adc2;
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #30303092;
    border-right: none; }
    .compRow #faster:hover h4 {
      color: #e7e7e7eb; }
  .compRow #stronger .fa-dumbbell {
    font-size: 30px;
    padding-top: 30px; }
  .compRow #stronger:hover {
    color: #e7e7e7eb;
    background-color: #62adc2;
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #30303092;
    border-right: none; }
    .compRow #stronger:hover h4 {
      color: #e7e7e7eb; }
  .compRow #smarter .fa-brain {
    font-size: 30px;
    padding-top: 30px; }
  .compRow #smarter:hover {
    color: #e7e7e7eb;
    background-color: #62adc2;
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #30303092;
    border-right: none; }
    .compRow #smarter:hover h4 {
      color: #e7e7e7eb; }
  .compRow #alert .fa-lightbulb-exclamation {
    font-size: 30px;
    padding-top: 30px; }
  .compRow #alert:hover {
    color: #e7e7e7eb;
    background-color: #62adc2;
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #30303092;
    border-right: none; }
    .compRow #alert:hover h4 {
      color: #e7e7e7eb; }
  @media only screen and (max-width: 425px) {
    .compRow {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      margin-top: 100px;
      margin-left: 70px; } }

.weaContain {
  width: 100%; }
  .weaContain .aboutIntro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    width: 1200px;
    padding-top: 100px;
    padding-left: 100px; }
    .weaContain .aboutIntro .textblock {
      width: 500px; }
      .weaContain .aboutIntro .textblock .title {
        font-size: 26px;
        font-weight: lighter;
        color: #62adc2;
        text-transform: capitalize; }
      .weaContain .aboutIntro .textblock h3 {
        font-size: 40px;
        font-weight: lighter;
        color: #303030;
        text-transform: capitalize;
        padding-top: 40px; }
        @media only screen and (max-width: 768px) {
          .weaContain .aboutIntro .textblock h3 {
            font-size: 30px; } }
      .weaContain .aboutIntro .textblock p {
        font-size: 18px;
        font-weight: lighter;
        padding-top: 10px;
        color: #303030; }
      .weaContain .aboutIntro .textblock .btnContain {
        margin-top: 30px;
        border: 1px solid #e7e7e7eb;
        border-radius: 40px;
        width: 100px;
        text-align: center;
        padding: 6px 12px 6px 12px;
        transition: 0.6s;
        border: 1px solid #62adc2;
        transition: 0.6s; }
        .weaContain .aboutIntro .textblock .btnContain .mainRM {
          font-size: 18px;
          font-weight: lighter;
          color: #e7e7e7eb;
          text-transform: capitalize;
          color: #303030; }
        @media only screen and (max-width: 425px) {
          .weaContain .aboutIntro .textblock .btnContain {
            margin-left: 80px;
            margin-bottom: 40px; } }
      .weaContain .aboutIntro .textblock .btnContain:hover {
        background-color: #62adc2;
        box-shadow: 0px 4px 20px #30303092;
        border: none; }
        .weaContain .aboutIntro .textblock .btnContain:hover .mainRM {
          color: #e7e7e7eb; }
      @media only screen and (max-width: 768px) {
        .weaContain .aboutIntro .textblock {
          width: 300px; } }
      @media only screen and (max-width: 425px) {
        .weaContain .aboutIntro .textblock {
          margin-left: 40px; } }
    .weaContain .aboutIntro .imgLogo {
      width: 500px; }
      .weaContain .aboutIntro .imgLogo img {
        height: 400px;
        width: 500px;
        border-radius: 10px; }
        @media only screen and (max-width: 1024px) {
          .weaContain .aboutIntro .imgLogo img {
            width: 400px; } }
      .weaContain .aboutIntro .imgLogo .abtLogo {
        height: 360px;
        width: 360px;
        margin-top: -270px;
        margin-left: 320px;
        transition: 0.6s; }
        @media only screen and (max-width: 1024px) {
          .weaContain .aboutIntro .imgLogo .abtLogo {
            height: 260px;
            width: 212px;
            margin-top: -220px;
            margin-left: 200px; } }
      .weaContain .aboutIntro .imgLogo .abtLogo:hover {
        transform: scale(1.1); }
      @media only screen and (max-width: 1024px) {
        .weaContain .aboutIntro .imgLogo {
          width: 400px; } }
    @media only screen and (max-width: 1024px) {
      .weaContain .aboutIntro {
        width: 900px; } }
    @media only screen and (max-width: 768px) {
      .weaContain .aboutIntro {
        width: 600px; } }
    @media only screen and (max-width: 425px) {
      .weaContain .aboutIntro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        text-align: center;
        width: 400px; } }

.supportContain {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/securityguard1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  height: 70vh;
  margin-top: 40px; }
  .supportContain .title {
    font-size: 26px;
    font-weight: lighter;
    color: #62adc2;
    text-transform: capitalize;
    padding-top: 40px;
    padding-left: 620px; }
    @media only screen and (max-width: 1024px) {
      .supportContain .title {
        padding-left: 360px; } }
    @media only screen and (max-width: 425px) {
      .supportContain .title {
        padding-left: 30px; } }
  .supportContain .supportGrid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-top: 50px;
    margin-left: 620px; }
    @media only screen and (max-width: 1024px) {
      .supportContain .supportGrid {
        grid-template-columns: 300px 300px;
        margin-top: 30px;
        margin-right: 40px; } }
    @media only screen and (max-width: 425px) {
      .supportContain .supportGrid {
        grid-template-columns: 190px 190px;
        margin-right: 0px;
        margin-left: 20px; } }
  .supportContain #gridBlock {
    width: 350px; }
    .supportContain #gridBlock #gridIcon {
      font-size: 30px;
      color: #62adc2; }
    .supportContain #gridBlock h3 {
      font-size: 24px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #e7e7e7eb;
      padding-top: 6px; }
      @media only screen and (max-width: 425px) {
        .supportContain #gridBlock h3 {
          font-size: 18px; } }
    .supportContain #gridBlock p {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7eb;
      padding-top: 6px; }
      @media only screen and (max-width: 425px) {
        .supportContain #gridBlock p {
          font-size: 14px; } }
    @media only screen and (max-width: 1024px) {
      .supportContain #gridBlock {
        width: 300px; } }
    @media only screen and (max-width: 425px) {
      .supportContain #gridBlock {
        width: 170px; } }
  @media only screen and (max-width: 425px) {
    .supportContain {
      height: 100%;
      padding-bottom: 20px; } }

.hmeService {
  width: 100%; }
  .hmeService .title {
    font-size: 26px;
    font-weight: lighter;
    color: #62adc2;
    text-transform: capitalize;
    text-align: center;
    padding-top: 30px; }
  .hmeService .servSubTitle {
    font-size: 36px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize;
    padding-top: 10px;
    text-align: center; }

.serviceRow {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .serviceRow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.serviceNav {
  height: 400px;
  width: 340px;
  padding-left: 80px; }
  .serviceNav h3 {
    font-size: 40px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize;
    padding-top: 22px; }
    @media only screen and (max-width: 1024px) {
      .serviceNav h3 {
        display: none; } }
  .serviceNav p {
    font-size: 17px;
    font-weight: lighter;
    padding-top: 10px; }
    @media only screen and (max-width: 1024px) {
      .serviceNav p {
        display: none; } }
  .serviceNav .navArrows {
    margin-top: 30px; }
    .serviceNav .navArrows a {
      font-size: 30px;
      color: #303030;
      transition: 0.6s;
      cursor: pointer; }
    .serviceNav .navArrows a:hover {
      color: #62adc2; }
    .serviceNav .navArrows #prev {
      padding-right: 30px; }
    @media only screen and (max-width: 1024px) {
      .serviceNav .navArrows {
        margin-top: 380px;
        margin-left: 30px;
        width: 80px; } }
    @media only screen and (max-width: 768px) {
      .serviceNav .navArrows {
        display: none; } }
  @media only screen and (max-width: 1024px) {
    .serviceNav {
      width: 0px;
      padding-left: 0px; } }

.serviceSlide {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  padding-left: 120px;
  overflow-x: hidden; }
  .serviceSlide #slideBlockPad {
    padding-right: 20px; }
    @media only screen and (max-width: 425px) {
      .serviceSlide #slideBlockPad {
        padding-right: 0px; } }
  .serviceSlide #slideBlockOne {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    width: 900px;
    transition: 1.5s; }
    @media only screen and (max-width: 768px) {
      .serviceSlide #slideBlockOne {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset; } }
    @media only screen and (max-width: 425px) {
      .serviceSlide #slideBlockOne {
        width: 285px; } }
  .serviceSlide #slideBlockTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    width: 900px;
    transition: 1.5s;
    opacity: 0; }
    @media only screen and (max-width: 768px) {
      .serviceSlide #slideBlockTwo {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        opacity: 1; } }
    @media only screen and (max-width: 425px) {
      .serviceSlide #slideBlockTwo {
        width: 285px; } }
  .serviceSlide .serviceBlock img {
    height: 200px;
    width: 280px; }
  .serviceSlide .serviceBlock h3 {
    font-size: 24px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize; }
  .serviceSlide .serviceBlock p {
    font-size: 14px;
    font-weight: lighter;
    color: #303030; }
    @media only screen and (max-width: 425px) {
      .serviceSlide .serviceBlock p {
        width: 300px; } }
  .serviceSlide .serviceBlock .hsReadBtn {
    padding-top: 20px; }
    .serviceSlide .serviceBlock .hsReadBtn a {
      font-size: 17px;
      color: #303030;
      transition: 0.6s;
      text-transform: capitalize; }
      .serviceSlide .serviceBlock .hsReadBtn a .fa-arrow-right {
        padding-left: 6px;
        color: #62adc2;
        transition: 0.8s; }
    .serviceSlide .serviceBlock .hsReadBtn a:hover {
      color: #62adc2; }
  @media only screen and (max-width: 768px) {
    .serviceSlide .serviceBlock {
      padding-top: 40px; } }
  @media only screen and (max-width: 425px) {
    .serviceSlide .serviceBlock {
      width: 285px; } }
  @media only screen and (max-width: 768px) {
    .serviceSlide {
      width: 600px;
      padding-left: 30px;
      margin-top: -360px; } }
  @media only screen and (max-width: 425px) {
    .serviceSlide {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      width: 285px;
      padding-left: 0px; } }

.videoReview {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/gopro.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  height: 50vh;
  background-position: top 30% left 70%;
  background-attachment: fixed;
  margin-top: 60px; }
  .videoReview .reviewText {
    padding-top: 100px;
    padding-left: 170px;
    width: 550px; }
    .videoReview .reviewText .title {
      font-size: 26px;
      font-weight: lighter;
      color: #62adc2;
      text-transform: capitalize; }
    .videoReview .reviewText h3 {
      font-size: 40px;
      font-weight: lighter;
      color: #e7e7e7eb;
      text-transform: capitalize;
      padding-top: 22px; }
      @media only screen and (max-width: 1024px) {
        .videoReview .reviewText h3 {
          font-size: 30px; } }
      @media only screen and (max-width: 768px) {
        .videoReview .reviewText h3 {
          width: 340px; } }
    @media only screen and (max-width: 1024px) {
      .videoReview .reviewText {
        padding-left: 60px; } }
    @media only screen and (max-width: 425px) {
      .videoReview .reviewText {
        width: 340px; } }

.quoteContain {
  width: 100%;
  margin-top: 60px; }
  .quoteContain .quoteRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 1024px) {
      .quoteContain .quoteRow {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center; } }
  .quoteContain .quoteText {
    height: 400px;
    width: 340px;
    padding-left: 80px; }
    .quoteContain .quoteText .title {
      font-size: 26px;
      font-weight: lighter;
      color: #62adc2;
      text-transform: capitalize; }
    .quoteContain .quoteText h3 {
      font-size: 40px;
      font-weight: 400;
      color: #303030;
      text-transform: capitalize;
      padding-top: 22px; }
    .quoteContain .quoteText p {
      font-size: 17px;
      font-weight: lighter;
      padding-top: 10px; }
      @media only screen and (max-width: 1024px) {
        .quoteContain .quoteText p {
          display: none; } }
    @media only screen and (max-width: 1024px) {
      .quoteContain .quoteText {
        height: 200px;
        width: 400px;
        padding-left: 0px; } }
  .quoteContain .quoteForm {
    display: grid;
    grid-template-columns: 370px 370px;
    grid-gap: 30px;
    margin-top: -60px; }
    @media only screen and (max-width: 768px) {
      .quoteContain .quoteForm {
        grid-template-columns: 300px 300px; } }
    @media only screen and (max-width: 425px) {
      .quoteContain .quoteForm {
        grid-template-columns: 300px; } }
  .quoteContain .inputStyle {
    height: 30px;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 6px; }
    @media only screen and (max-width: 768px) {
      .quoteContain .inputStyle {
        width: 300px; } }
  .quoteContain .serviceInterest {
    position: relative;
    height: 30px;
    background-color: transpartent;
    font-size: 18px; }

#submit {
  width: 136px;
  font-size: 18px;
  font-weight: lighter;
  color: #e7e7e7eb;
  text-transform: capitalize;
  font-size: 14px;
  background-color: #62adc2;
  border-radius: 40px;
  cursor: pointer; }

#submit:hover {
  background-color: #62adc2;
  box-shadow: 0px 4px 20px #30303092; }

.testimonialContain {
  width: 100%;
  height: 70vh;
  background-color: #303030; }
  .testimonialContain .title {
    font-size: 26px;
    font-weight: lighter;
    color: #62adc2;
    text-transform: capitalize;
    text-align: center;
    padding-top: 60px; }
  .testimonialContain h3 {
    font-size: 34px;
    font-weight: 400;
    color: #e7e7e7eb;
    text-transform: capitalize;
    padding-top: 22px;
    text-align: center; }
    @media only screen and (max-width: 425px) {
      .testimonialContain h3 {
        font-size: 18px; } }
  .testimonialContain .testRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px; }
    @media only screen and (max-width: 425px) {
      .testimonialContain .testRow {
        padding-top: 40px;
        flex-direction: column; } }
  .testimonialContain .testimonial {
    width: 400px; }
    .testimonialContain .testimonial #testIcon {
      font-size: 30px;
      color: #62adc2; }
    .testimonialContain .testimonial p {
      font-size: 17px;
      font-weight: lighter;
      color: #e7e7e7eb;
      padding-top: 10px;
      line-height: 24px; }
      @media only screen and (max-width: 425px) {
        .testimonialContain .testimonial p {
          font-size: 14px;
          line-height: unset; } }
    .testimonialContain .testimonial .user {
      font-size: 20px;
      color: #e7e7e7eb;
      text-transform: capitalize;
      padding-top: 10px; }
      @media only screen and (max-width: 425px) {
        .testimonialContain .testimonial .user {
          font-size: 18px; } }
    @media only screen and (max-width: 1024px) {
      .testimonialContain .testimonial {
        width: 300px;
        padding-left: 20px; } }
    @media only screen and (max-width: 425px) {
      .testimonialContain .testimonial {
        padding-top: 20px; } }
  @media only screen and (max-width: 1024px) {
    .testimonialContain {
      margin-top: 40px; } }
  @media only screen and (max-width: 425px) {
    .testimonialContain {
      height: 100%;
      padding-bottom: 20px; } }

#map {
  height: 70vh;
  width: 100%;
  z-index: 0; }

.mapBanner {
  height: 70vh;
  width: 26vw;
  background-color: #62adc2;
  position: relative;
  float: right;
  margin-top: -559px;
  margin-right: 120px; }
  .mapBanner .stl {
    font-size: 30px;
    font-weight: lighter;
    color: #e7e7e7eb;
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize; }
  .mapBanner .bannerAd {
    padding-top: 40px;
    padding-left: 30px; }
    .mapBanner .bannerAd h4 {
      font-size: 20px;
      font-weight: lighter;
      color: #e7e7e7eb;
      text-transform: capitalize; }
      .mapBanner .bannerAd h4 .fa-map-marker {
        padding-left: 210px; }
        @media only screen and (max-width: 1024px) {
          .mapBanner .bannerAd h4 .fa-map-marker {
            display: none; } }
    .mapBanner .bannerAd p {
      font-size: 14px;
      font-weight: lighter;
      color: #e7e7e7eb;
      padding-top: 10px;
      width: 200px; }
  .mapBanner .bannerPhone {
    padding-top: 40px;
    padding-left: 30px; }
    .mapBanner .bannerPhone h4 {
      font-size: 20px;
      font-weight: lighter;
      color: #e7e7e7eb;
      text-transform: capitalize; }
      .mapBanner .bannerPhone h4 .fa-phone {
        padding-left: 200px; }
        @media only screen and (max-width: 1024px) {
          .mapBanner .bannerPhone h4 .fa-phone {
            display: none; } }
    .mapBanner .bannerPhone p {
      font-size: 14px;
      font-weight: lighter;
      color: #e7e7e7eb;
      padding-top: 10px;
      width: 200px; }
  .mapBanner .bannerEmail {
    padding-top: 40px;
    padding-left: 30px; }
    .mapBanner .bannerEmail h4 {
      font-size: 20px;
      font-weight: lighter;
      color: #e7e7e7eb;
      text-transform: capitalize; }
      .mapBanner .bannerEmail h4 .fa-envelope {
        padding-left: 210px; }
        @media only screen and (max-width: 1024px) {
          .mapBanner .bannerEmail h4 .fa-envelope {
            display: none; } }
    .mapBanner .bannerEmail p {
      font-size: 14px;
      font-weight: lighter;
      color: #e7e7e7eb;
      padding-top: 10px;
      width: 200px; }
  .mapBanner .bannerHours {
    padding-top: 40px;
    padding-left: 30px; }
    .mapBanner .bannerHours h4 {
      font-size: 20px;
      font-weight: lighter;
      color: #e7e7e7eb;
      text-transform: capitalize; }
      .mapBanner .bannerHours h4 .fa-clock {
        padding-left: 210px; }
        @media only screen and (max-width: 1024px) {
          .mapBanner .bannerHours h4 .fa-clock {
            display: none; } }
    .mapBanner .bannerHours p {
      font-size: 14px;
      font-weight: lighter;
      color: #e7e7e7eb;
      padding-top: 10px;
      width: 200px; }
  @media only screen and (max-width: 768px) {
    .mapBanner {
      display: none; } }

.aboutHeader {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/chaseofficer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  height: 40vh; }

.aboutWelcome {
  margin-top: 80px; }
  .aboutWelcome h2 {
    font-size: 34px; }

.valuesContent {
  height: auto;
  width: 80%;
  margin-top: 60px;
  margin-left: 130px; }
  .valuesContent #ourMission,
  .valuesContent #ourVision,
  .valuesContent #Situation {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .valuesContent #ourMission .valueImg,
    .valuesContent #ourVision .valueImg,
    .valuesContent #Situation .valueImg {
      height: 100%;
      width: 30%; }
      .valuesContent #ourMission .valueImg img,
      .valuesContent #ourVision .valueImg img,
      .valuesContent #Situation .valueImg img {
        height: 100%;
        width: 100%; }
    .valuesContent #ourMission .valueText,
    .valuesContent #ourVision .valueText,
    .valuesContent #Situation .valueText {
      height: 100%;
      width: 50%; }
      .valuesContent #ourMission .valueText h3,
      .valuesContent #ourVision .valueText h3,
      .valuesContent #Situation .valueText h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: lighter;
        color: #303030;
        padding-bottom: 10px; }
      .valuesContent #ourMission .valueText p,
      .valuesContent #ourVision .valueText p,
      .valuesContent #Situation .valueText p {
        font-size: 17px;
        line-height: 24px;
        color: #303030af; }
  .valuesContent .hidden {
    display: none !important; }

.valuesRowContainer {
  height: 40vh;
  width: 100%; }
  .valuesRowContainer .thumbLinks {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    margin-top: 80px;
    margin-left: 150px; }
    .valuesRowContainer .thumbLinks .Link {
      height: auto;
      width: 30%;
      text-align: center;
      cursor: pointer; }
      .valuesRowContainer .thumbLinks .Link .thumbImg {
        height: 30vh;
        width: 100%;
        overflow: hidden; }
        .valuesRowContainer .thumbLinks .Link .thumbImg img {
          height: inherit;
          width: inherit;
          transition: 0.6s; }
        .valuesRowContainer .thumbLinks .Link .thumbImg img:hover {
          transform: scale(1.1); }
      .valuesRowContainer .thumbLinks .Link h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        color: #303030;
        text-transform: capitalize;
        transition: 0.6s;
        margin-top: 20px; }
      .valuesRowContainer .thumbLinks .Link h4:hover {
        color: #62adc2; }
      .valuesRowContainer .thumbLinks .Link p {
        font-size: 17px;
        line-height: 24px;
        color: #303030af;
        margin-top: 10px; }

.bestProtection {
  height: 40vh;
  width: 100%;
  background-color: #62adc2;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  margin-top: 100px; }
  .bestProtection .patrolVehicle {
    height: 100%;
    width: 50%; }
    .bestProtection .patrolVehicle img {
      height: 100%;
      width: 100%; }
  .bestProtection .protectionText {
    height: 100%;
    width: 50%; }
    .bestProtection .protectionText h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: lighter;
      font-size: 30px;
      color: #e7e7e7eb;
      text-transform: capitalize;
      padding-top: 70px;
      padding-left: 60px;
      width: 70%; }
    .bestProtection .protectionText p {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7eb;
      width: 90%;
      padding-top: 20px;
      padding-left: 60px; }

.meetTeam {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }
  .meetTeam h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-transform: capitalize; }

.theTeam {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .theTeam .member {
    height: 100%;
    width: 20%;
    transition: 0.6s; }
  .theTeam .member:hover {
    box-shadow: 0px 4px 20px #30303092; }
    .theTeam .member:hover .hovConnect {
      transform: scale(1);
      opacity: 1; }
  .theTeam .hovConnect {
    height: 100%;
    width: 100%;
    background-color: #62adc2;
    text-align: center;
    transform: scale(0);
    transition: 0.6s;
    opacity: 0; }
    .theTeam .hovConnect .connectIcons {
      padding-top: 140px;
      font-size: 30px;
      color: #e7e7e7eb; }
    .theTeam .hovConnect .fa-facebook-f {
      padding-right: 10px; }

/* Team Member Profile photo*/
.Justin {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/justin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }

.Jeff {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/JH.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }

.Mike {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/Mike.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }

.Brock {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/mainLogo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }

.memberBioContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .memberBioContainer .Bio {
    height: auto;
    width: 20%;
    text-align: center;
    padding-top: 10px; }
    .memberBioContainer .Bio h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: lighter;
      text-transform: capitalize;
      color: #303030;
      font-size: 26px; }
    .memberBioContainer .Bio h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      color: #62adc2; }

.freeCons {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/testBack.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  height: 22vh;
  width: 100%;
  margin-top: 10px; }
  .freeCons .consultationText {
    padding-top: 20px;
    text-align: center; }
    .freeCons .consultationText h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 26px;
      font-weight: lighter;
      color: #e7e7e7eb; }
      .freeCons .consultationText h2 strong {
        color: #62adc2;
        font-size: 32px; }
    .freeCons .consultationText p {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7eb;
      padding-top: 3px;
      padding-bottom: 20px; }
    .freeCons .consultationText .opnConBtn {
      font-family: "Open Sans", sans-serif;
      font-weight: lighter;
      font-size: 18px;
      text-transform: capitalize;
      color: #e7e7e7eb;
      background-color: #62adc2;
      padding: 10px;
      cursor: pointer;
      width: 160px;
      margin-left: 615px; }

.serviceHeader {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/chaseofficer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  height: 40vh; }

.serviceWelcome {
  margin-top: 80px; }
  .serviceWelcome h2 {
    font-size: 34px; }

.standards {
  text-align: left;
  margin-top: 60px;
  margin-left: 60px;
  text-align: center;
  margin-left: 0px; }
  .standards h2 {
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize; }
  .standards p {
    width: 560px;
    text-align: center;
    padding-top: 20px;
    padding-left: 444px;
    line-height: 34px; }
    @media only screen and (max-width: 768px) {
      .standards p {
        text-align: center;
        padding-left: 100px; } }
    @media only screen and (max-width: 425px) {
      .standards p {
        width: 300px;
        padding-left: 60px; } }

.servicesGrid {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-gap: 20px;
  margin-top: 60px;
  margin-left: 190px; }
  @media only screen and (max-width: 1024px) {
    .servicesGrid {
      grid-template-columns: 300px 300px 300px;
      margin-left: 40px; } }
  @media only screen and (max-width: 768px) {
    .servicesGrid {
      grid-template-columns: 300px 300px;
      margin-left: 70px; } }
  @media only screen and (max-width: 425px) {
    .servicesGrid {
      grid-template-columns: 300px;
      margin-left: 70px; } }

.serveBlock {
  border: 2px solid #e7e7e7;
  overflow: hidden; }
  .serveBlock img {
    height: 200px;
    width: 340px;
    transition: 0.6s; }
  .serveBlock img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 20px #30303092; }
  .serveBlock a {
    color: inherit; }
    .serveBlock a h3 {
      font-size: 26px;
      font-weight: lighter;
      text-transform: capitalize;
      padding-top: 10px;
      padding-left: 10px; }
  .serveBlock p {
    width: 300px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 30px;
    padding-left: 10px; }

.formContain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  margin-top: 40px; }
  .formContain .Banner {
    height: 70vh;
    width: 26vw;
    background-color: #303030;
    position: relative; }
    .formContain .Banner .stl {
      font-size: 30px;
      font-weight: lighter;
      color: #e7e7e7eb;
      text-align: center;
      padding-top: 30px;
      text-transform: capitalize; }
    .formContain .Banner .contactBanner {
      padding-top: 40px;
      padding-left: 30px; }
      .formContain .Banner .contactBanner h4 {
        font-size: 20px;
        font-weight: lighter;
        color: #e7e7e7eb;
        text-transform: capitalize; }
        .formContain .Banner .contactBanner h4 .conBanIcon {
          padding-right: 10px; }
      .formContain .Banner .contactBanner p {
        font-size: 14px;
        font-weight: lighter;
        color: #e7e7e7eb;
        padding-top: 10px;
        width: 200px;
        font-size: 18px;
        padding-left: 30px; }
        @media only screen and (max-width: 1024px) {
          .formContain .Banner .contactBanner p {
            font-size: 14px; } }
      @media only screen and (max-width: 1024px) {
        .formContain .Banner .contactBanner {
          padding-left: 10px; } }
    @media only screen and (max-width: 768px) {
      .formContain .Banner {
        display: none; } }

.contactForm {
  width: 800px;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset; }
  .contactForm h3 {
    padding-left: 40px;
    font-size: 30px;
    font-weight: lighter;
    color: #303030;
    padding-top: 30px;
    text-transform: capitalize; }
  .contactForm #messageInput {
    height: 200px;
    width: 700px;
    margin-top: 40px;
    margin-left: 40px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 6px 0 0 10px; }
    @media only screen and (max-width: 1024px) {
      .contactForm #messageInput {
        margin-left: 30px; } }
    @media only screen and (max-width: 425px) {
      .contactForm #messageInput {
        width: 340px;
        margin-top: 20px; } }
  .contactForm .formRow {
    margin-top: 20px;
    margin-left: 60px; }
    .contactForm .formRow .Input {
      height: 40px;
      width: 200px;
      padding-left: 14px;
      font-size: 14px;
      border: none;
      border-radius: 6px; }
      @media only screen and (max-width: 425px) {
        .contactForm .formRow .Input {
          margin-top: 10px;
          width: 340px; } }
    @media only screen and (max-width: 425px) {
      .contactForm .formRow {
        margin-top: 10px;
        margin-left: 30px; } }
  .contactForm #submit {
    width: 140px;
    background-color: #62adc2;
    padding: 10px;
    border-radius: 20px;
    color: #e7e7e7eb;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 18px;
    text-transform: capitalize; }
    @media only screen and (max-width: 768px) {
      .contactForm #submit {
        margin-top: 10px; } }
  @media only screen and (max-width: 425px) {
    .contactForm {
      width: 400px; } }

.contactMap {
  margin-top: 60px; }

.mainContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset;
  margin-top: 80px; }

.lftCol {
  height: 100%;
  width: 20%; }
  .lftCol .mreServices {
    height: auto;
    width: 100%;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .lftCol .mreServices .currentLink {
      background-color: black;
      border: 2px solid #62adc2;
      color: #62adc2; }
    .lftCol .mreServices a {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize;
      width: 100%;
      padding: 10px 0 10px 10px;
      border-top: 3px solid #f5f5f5; }
    .lftCol .mreServices a:hover {
      background-color: black;
      border: 2px solid #62adc2;
      color: #62adc2; }
  .lftCol .testimonialThumbnail {
    margin-top: 70px;
    border: 1px solid #e7e7e7;
    height: auto;
    width: 100%; }
    .lftCol .testimonialThumbnail p {
      font-family: "Open Sans", sans-serif;
      font-weight: lighter;
      font-size: 17px;
      color: #303030;
      width: 90%;
      text-align: center;
      padding: 20px; }
    .lftCol .testimonialThumbnail h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: lighter;
      color: #62adc2;
      text-align: center;
      padding-bottom: 10px; }
  .lftCol .miniContact {
    margin-top: 60px;
    border: 1px solid #e7e7e7;
    height: auto;
    width: 100%;
    padding-bottom: 20px; }
    .lftCol .miniContact h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      color: #303030;
      padding-top: 10px;
      padding-left: 20px; }
    .lftCol .miniContact p {
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: lighter;
      line-height: 22px;
      padding: 10px 0 10px 20px; }
    .lftCol .miniContact .miniLoc {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #303030;
      padding-left: 20px;
      width: 100%; }
    .lftCol .miniContact .miniLoc:hover {
      color: #62adc2; }

.serviceDescContainer {
  width: 70%;
  height: auto; }

.serveContain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset; }

.serviceOverview {
  height: auto;
  width: 100%; }
  .serviceOverview h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize; }
  .serviceOverview .underline {
    height: 2px;
    width: 90px;
    background-color: #62adc2;
    margin-bottom: 10px; }
  .serviceOverview h4 {
    margin-bottom: 6px; }
    .serviceOverview h4 strong {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      color: #62adc2; }
  .serviceOverview p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #303030;
    line-height: 28px; }

.photoLink {
  background: linear-gradient(to bottom, #30303054, #30303054), url(../imgs/consultPhoto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  height: 40vh;
  width: 50%;
  margin-left: 6px; }
  .photoLink img {
    height: 40vh;
    width: 100%; }
  .photoLink .consultText {
    margin-top: -8px;
    height: auto;
    width: 100%;
    background-color: #e7e7e7;
    text-align: center;
    padding: 10px 0 10px 0; }
    .photoLink .consultText h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize; }
    .photoLink .consultText p {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      text-transform: capitalize;
      color: #62adc2;
      cursor: pointer; }

.researchAnalysis {
  height: auto;
  width: 100%;
  margin-top: 120px; }
  .researchAnalysis h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize; }
  .researchAnalysis .underline {
    height: 2px;
    width: 70px;
    background-color: #62adc2;
    margin-bottom: 10px; }
  .researchAnalysis p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #303030;
    line-height: 28px; }
  .researchAnalysis .chaseCheckmark {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px; }
    .researchAnalysis .chaseCheckmark .analysis {
      height: 100%;
      width: 20%; }
      .researchAnalysis .chaseCheckmark .analysis img {
        height: 100%;
        width: 100%; }
      .researchAnalysis .chaseCheckmark .analysis h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        font-size: 22px;
        color: #303030;
        text-align: center;
        text-transform: capitalize; }
  .researchAnalysis .resultBox {
    height: auto;
    width: 98%;
    background-color: #e7e7e7;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 80px; }
    .researchAnalysis .resultBox p {
      font-size: 17px;
      font-weight: lighter;
      color: #303030;
      width: 100%; }

.abtConModule {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transition: 0.6s; }
  .abtConModule .consultationForm {
    background-color: #f7f4f4;
    margin-top: 200px;
    margin-left: 370px;
    width: 50%;
    height: 50vh;
    border: 4px solid #62adc2;
    box-shadow: 0px 4px 20px #30303092;
    transition: 0.6s; }
    .abtConModule .consultationForm h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 26px;
      width: 100%;
      padding-top: 40px;
      padding-left: 64px; }
    .abtConModule .consultationForm .inputStyle {
      display: block;
      height: 5vh;
      width: 80%;
      margin-top: 10px;
      margin-left: 60px;
      font-size: 18px;
      padding-left: 6px;
      border: none;
      border-bottom: 1px solid #dedddd;
      background: transparent; }
    .abtConModule .consultationForm .sendConsult {
      height: 40px;
      width: 120px;
      font-size: 18px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #e7e7e7eb;
      background-color: #62adc2;
      margin-left: 280px;
      margin-top: 20px;
      cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style-type: none; }

body {
  overflow-x: hidden;
  background-color: #f5f5f5; }

/*# sourceMappingURL=app.css.map */
