@import "1-variables/variables";
@import "2-mixins/mixins";
@import "0-layout/layout-Dir";
@import "3-Modals/modals";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-image: url(../imgs/dustscratchestexture.png);
  // overflow-x: hidden;
}
//Service Porfolio Heading Underline
.underline {
  height: 2px;
  width: 70px;
  background-color: $chase-blue;
  margin-bottom: 10px;
}
