.aboutHeader {
  @include Background(url(../imgs/chaseofficer.jpg));
  height: 40vh;
}
.aboutWelcome {
  margin-top: 80px;
  h2 {
    font-size: 34px;
  }
}
.valuesContent {
  height: auto;
  width: 80%;
  margin-top: 60px;
  margin-left: 130px;
  //Responsive
  @include Tablet {
    margin-left: 70px;
  }
  @include Mobile {
    margin-left: 30px;
  }
  #ourMission,
  #ourVision,
  #Situation,
  #extraMile {
    height: 60vh;
    width: 100%;
    @include Display(row, space-evenly, unset);
    //Responsive
    @include lgMobile {
      height: 40vh;
    }
    @include Mobile {
      height: 50vh;
    }
    @include medMobile {
      height: 64vh;
    }
    .valueImg {
      height: 100%;
      width: 30%;
      //Responsive
      @include lgMobile {
        display: none;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    .valueText {
      height: 100%;
      width: 50%;
      //Responsive
      @include lgMobile {
        width: 100%;
      }
      h3 {
        font-family: $primary-font;
        font-size: 30px;
        font-weight: lighter;
        color: $dark-text;
        padding-bottom: 10px;
        //Responsive
        @include Laptop {
          font-size: 24px;
        }
      }
      p {
        font-size: 17px;
        line-height: 24px;
        color: #303030af;
        //Responsive
        @include Laptop {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .hidden {
    display: none !important;
  }
}
.valuesRowContainer {
  height: 40vh;
  width: 100%;
  .thumbLinks {
    height: auto;
    width: 100%;
    @include Display(row, space-evenly, unset);
    margin-top: 80px;
    .Link {
      height: auto;
      width: 20%;
      text-align: center;
      cursor: pointer;
      transition: $global-Trans;
      transform: scale(0.9);
      .thumbImg {
        height: 30vh;
        width: 100%;
        overflow: hidden;
        img {
          height: inherit;
          width: inherit;
          transition: $global-Trans;
        }
      }
      h4 {
        font-family: $primary-font;
        font-size: 22px;
        color: $dark-text;
        text-transform: capitalize;
        transition: $global-Trans;
        margin-top: 20px;
        //Responsive
        @include lgMobile {
          font-size: 18px;
          text-align: left;
        }
      }
      p {
        font-size: 17px;
        line-height: 24px;
        color: #303030af;
        margin-top: 10px;
        //Responsive
        @include lgMobile {
          font-size: 14px;
          line-height: unset;
          text-align: left;
        }
        @include medMobile {
          font-size: 11px;
        }
      }
    }
    .Link:hover {
      background-color: #f7f7f7;
      transform: scale(1.1);
      box-shadow: $global-shadow;
      h4 {
        color: $chase-blue;
      }
    }
  }
}
.bestProtection {
  height: 40vh;
  width: 100%;
  background-color: #62adc2;
  @include Display(row, unset, unset);
  margin-top: 100px;
  //Responsive
  @include Tablet {
    margin-top: 200px;
  }
  .patrolVehicle {
    height: 100%;
    width: 50%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .protectionText {
    height: 100%;
    width: 50%;
    h2 {
      font-family: $primary-font;
      font-weight: lighter;
      font-size: 30px;
      color: $light-text;
      text-transform: capitalize;
      padding-top: 70px;
      padding-left: 60px;
      width: 70%;
      // text-align: center;
      //Responsive
      @include lgLaptop {
        width: 90%;
        font-size: 30px;
      }
      @include Tablet {
        font-size: 20px;
        padding-top: 50px;
      }
      @include lgMobile {
        font-size: 18px;
      }
      @include Mobile {
        font-size: 14px;
        width: 100%;
        padding-left: 20px;
      }
    }
    p {
      font-size: 18px;
      font-weight: lighter;
      color: $light-text;
      width: 90%;
      padding-top: 20px;
      padding-left: 60px;
      //Responsive
      @include lgMobile {
        font-size: 14px;
      }
      @include Mobile {
        width: 100%;
        padding-left: 20px;
      }
    }
  }
}
.meetTeam {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  h2 {
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 30px;
    text-transform: capitalize;
  }
}
.theTeam {
  height: 40vh;
  width: 100%;
  @include Display(row, space-evenly, center);
  .member {
    height: 100%;
    width: 20%;
    transition: $global-Trans;
  }
  .member:hover {
    box-shadow: $global-shadow;
    .hovConnect {
      transform: scale(1);
      opacity: 1;
    }
  }
  .hovConnect {
    height: 100%;
    width: 100%;
    background-color: $chase-blue;
    text-align: center;
    transform: scale(0);
    transition: $global-Trans;
    opacity: 0;
    .connectIcons {
      padding-top: 140px;
      font-size: 30px;
      color: $light-text;
    }
    .fa-facebook-f {
      padding-right: 10px;
    }
  }
}
/* Team Member Profile photo*/
.Justin {
  @include Background(url(../imgs/justin.jpg));
}
.Jeff {
  @include Background(url(../imgs/JH.jpg));
}
.Mike {
  @include Background(url(../imgs/Mike.jpg));
}
.Brock {
  @include Background(url(../imgs/mainLogo.jpg));
}
//Member Bio
.memberBioContainer {
  height: auto;
  width: 100%;
  @include Display(row, space-evenly, center);
  .Bio {
    height: auto;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    h3 {
      font-family: $primary-font;
      font-weight: lighter;
      text-transform: capitalize;
      color: $dark-text;
      font-size: 26px;
      //Responsive
      @include Tablet {
        font-size: 20px;
      }
      @include lgMobile {
        font-size: 18px;
      }
    }
    h4 {
      font-family: $primary-font;
      font-size: 20px;
      color: $chase-blue;
      //Responsive
      @include Tablet {
        font-size: 18px;
      }
      @include lgMobile {
        font-size: 14px;
      }
    }
  }
}
//Free Consultation Section
.freeCons {
  @include Background(url(../imgs/testBack.jpg));
  background-attachment: fixed;
  height: 26vh;
  width: 100%;
  margin-top: 40px;
  box-shadow: $global-shadow;
  .consultationText {
    padding-top: 20px;
    text-align: center;
    h2 {
      font-family: $primary-font;
      font-size: 26px;
      font-weight: lighter;
      color: $light-text;
      //Responsive
      @include Mobile {
        font-size: 18px;
      }
      strong {
        color: $chase-blue;
        font-size: 32px;
        //Responsive
        @include Mobile {
          font-size: 20px;
        }
      }
    }
    p {
      font-size: 18px;
      font-weight: lighter;
      color: $light-text;
      padding-top: 3px;
      padding-bottom: 20px;
      //Responsive
      @include Mobile {
        font-size: 14px;
      }
    }
    .opnConBtn {
      font-family: $primary-font;
      font-weight: lighter;
      font-size: 18px;
      text-transform: capitalize;
      color: $light-text;
      background-color: $chase-blue;
      padding: 10px;
      cursor: pointer;
      width: 200px;
      margin-left: 615px;
      //Responsive
      @include lgLaptop {
        margin-left: 490px;
      }
      @include Laptop {
        margin-left: 390px;
      }
      @include Tablet {
        margin-left: 270px;
      }
      @include lgMobile {
        margin-left: 200px;
      }
      @include Mobile {
        margin-left: 112px;
      }
      @include medMobile {
        margin-left: 90px;
      }
    }
  }
}
