.formContain {
  @include Display(row, center, unset);
  margin-top: 40px;
  .Banner {
    @include Background(url(../imgs/texture.png));
    height: 80vh;
    width: 26vw;
    position: relative;
    //Responsive
    @include lgMobile {
      display: none;
    }
    .stl {
      font-size: 30px;
      font-weight: $light-weight;
      color: $light-text;
      text-align: center;
      padding-top: 30px;
      text-transform: capitalize;
    }
    .contactBanner {
      padding-top: 40px;
      padding-left: 30px;
      //Responsive
      @include Tablet {
        text-align: center;
        padding-left: 0px;
      }
      h4 {
        @include bannerText;
        .conBanIcon {
          padding-right: 10px;
        }
        //Responsive
        @include Tablet {
          width: 100%;
        }
      }
      p {
        @include bannerPara;
        font-size: 18px;
        padding-left: 30px;
        //Responsive
        @include lgLaptop {
          font-size: 16px;
        }
        @include Laptop {
          padding-left: 0px;
          font-size: 14px;
        }
        @include Tablet {
          width: 100%;
        }
      }
      .bannerEmail {
        p {
          word-wrap: break-word;
        }
      }
    }
  }
}
//Contact Form
.contactForm {
  width: 60%;
  background-color: $accent;
  @include Display(column, unset, unset);
  //Responsive
  @include lgMobile {
    width: 80%;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 30px;
    font-weight: $light-weight;
    color: $dark-text;
    padding-top: 30px;
    padding-left: 60px;
    text-transform: capitalize;
    //Responsive
    @include lgMobile {
      font-size: 20px;
      width: 100%;
      padding-left: 0px;
      text-align: center;
    }
  }
  #messageInput {
    height: 30vh;
    width: 86%;
    margin-top: 40px;
    margin-left: 6%;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 6px 0 0 10px;
    background-color: transparent;
    border: 1px solid #30303092;
  }
  .formRow {
    margin-top: 20px;
    margin-left: 60px;
    //Responsive
    @include Tablet {
      margin-left: 14px;
    }
    @include Mobile {
      margin-left: 20px;
    }
    label {
      text-align: center;
      font-size: 20px;
    }
    .Input {
      // display: block;
      width: 60%;
      font-size: 18px;
      background-color: transparent;
      border: none;
      border: 1px solid #30303092 !important;
      margin-left: 40px;
      margin-top: 20px;
      //Responsive
      @include Mobile {
        margin-left: 0px;
        width: 30%;
      }
    }
    .emailinput {
      margin-left: 45px;
    }
    .phoneinput {
      margin-left: 35px;
    }
  }
  #submit {
    width: 10vw;
    background-color: $chase-blue;
    color: $light-text;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 56px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    //Responsive
    @include Tablet {
      margin-left: 20px;
    }
    @include Mobile {
      margin-top: 30px;
      width: 14vw;
    }
  }
}
.contactMap {
  margin-top: 60px;
}
