.formContain {
  @include Display(row, center, unset);
  margin-top: 40px;
  .Banner {
    height: 70vh;
    width: 26vw;
    background-color: $bgColor;
    position: relative;
    .stl {
      font-size: 30px;
      font-weight: $light-weight;
      color: $light-text;
      text-align: center;
      padding-top: 30px;
      text-transform: capitalize;
    }
    .contactBanner {
      padding-top: 40px;
      padding-left: 30px;
      h4 {
        @include bannerText;
        .conBanIcon {
          padding-right: 10px;
        }
      }
      p {
        @include bannerPara;
        font-size: 18px;
        padding-left: 30px;
      }
    }
  }
}
//Contact Form
.contactForm {
  width: 60%;
  background-color: $accent;
  @include Display(column, unset, unset);
  h3 {
    font-size: 30px;
    font-weight: $light-weight;
    color: $dark-text;
    padding-top: 30px;
    padding-left: 60px;
    text-transform: capitalize;
  }
  #messageInput {
    height: 30vh;
    width: 86%;
    margin-top: 40px;
    margin-left: 6%;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 6px 0 0 10px;
    background-color: transparent;
    border: 1px solid #30303092;
  }
  .formRow {
    margin-top: 20px;
    margin-left: 60px;
    .Input {
      height: 5vh;
      width: 25%;
      padding-left: 14px;
      font-size: 14px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #30303092 !important;
      margin-left: 20px;
    }
  }
  #submit {
    width: 10vw;
    background-color: $chase-blue;
    color: $light-text;
    margin-top: 40px;
    margin-left: 56px;
    font-size: 18px;
    text-transform: capitalize;
  }
}
.contactMap {
  margin-top: 60px;
}
