.weaContain {
  height: auto;
  width: 100%;
  .aboutIntro {
    @include Display(row, space-evenly, unset);
    width: 90%;
    padding-top: 100px;
    padding-left: 100px;
    .textblock {
      height: auto;
      width: 40%;
      .title {
        @include secTitle;
      }
      h3 {
        font-size: 40px;
        font-weight: $light-weight;
        color: $dark-text;
        text-transform: capitalize;
        padding-top: 40px;
      }
      p {
        font-size: 18px;
        font-weight: $light-weight;
        padding-top: 10px;
        color: $dark-text;
      }
      .btnContain {
        margin-top: 30px;
        @include readMore;
        border: 1px solid $chase-blue;
        transition: $global-Trans;
        .mainRM {
          @include rmText;
          color: $dark-text;
        }
      }
      .btnContain:hover {
        @include rmbtnHover;
        border: none;
        .mainRM {
          color: $light-text;
        }
      }
    }
    .imgLogo {
      width: 50%;
      img {
        height: 90%;
        width: 90%;
      }
      .abtLogo {
        height: 70%;
        width: 50%;
        margin-top: -270px;
        margin-left: 50%;
        transition: $global-Trans;
      }
      .abtLogo:hover {
        transform: $global-scale;
      }
    }
  }
}
//Support Section
.supportContain {
  @include Background(url(../imgs/securityguard1.jpg));
  height: 70vh;
  margin-top: 40px;
  .title {
    @include secTitle;
    padding-top: 40px;
    padding-left: 43%;
  }
  .supportGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    margin-left: 43%;
    //Responsive
    @include lgLaptop {
      margin-top: 20px;
    }
  }
  #gridBlock {
    width: 25vw;
    #gridIcon {
      font-size: 30px;
      color: $chase-blue;
    }
    h3 {
      font-size: 24px;
      font-weight: $light-weight;
      text-transform: capitalize;
      color: $light-text;
      padding-top: 6px;
    }
    p {
      font-size: 18px;
      font-weight: $light-weight;
      color: $light-text;
      padding-top: 6px;
    }
  }
}
//Services
.hmeService {
  width: 100%;
  .title {
    @include secTitle;
    text-align: center;
    padding-top: 30px;
  }
  .servSubTitle {
    font-size: 36px;
    font-weight: $light-weight;
    color: $dark-text;
    text-transform: capitalize;
    padding-top: 10px;
    text-align: center;
  }
}
.serviceRow {
  width: 100%;
  margin-top: 50px;
  @include Display(row, space-evenly, center);
}
.serviceNav {
  height: 50vh;
  width: 25vw;
  h3 {
    font-size: 40px;
    font-weight: $light-weight;
    color: $dark-text;
    text-transform: capitalize;
    padding-top: 22px;
  }
  p {
    font-size: 17px;
    font-weight: $light-weight;
    padding-top: 10px;
  }
  .navArrows {
    margin-top: 30px;
    a {
      font-size: 30px;
      color: $dark-text;
      transition: $global-Trans;
      cursor: pointer;
    }
    a:hover {
      color: $chase-blue;
    }
    #prev {
      padding-right: 30px;
    }
  }
}
.serviceSlide {
  width: 61vw;
  @include Display(row, unset, unset);
  padding-left: 66px;
  overflow: hidden;
  //Global Padding For Each Slide block
  #slideBlockPad {
    padding-right: 20px;
  }
  //Display for each block
  #slideBlockOne {
    @include Display(row, space-evenly, unset);
    width: 61vw;
    transition: 1.5s;
  }
  #slideBlockTwo {
    @include Display(row, space-evenly, unset);
    width: 61vw;
    transition: 1.5s;
    opacity: 0;
  }
  .serviceBlock {
    width: 21vw;
    img {
      height: 52%;
      width: 21vw;
    }
    h3 {
      font-size: 24px;
      font-weight: $light-weight;
      color: $dark-text;
      text-transform: capitalize;
    }
    p {
      font-size: 14px;
      font-weight: $light-weight;
      color: $dark-text;
    }
    .hsReadBtn {
      padding-top: 20px;
      a {
        font-size: 17px;
        color: $dark-text;
        transition: $global-Trans;
        text-transform: capitalize;
        .fa-arrow-right {
          padding-left: 6px;
          color: $chase-blue;
          transition: 0.8s;
        }
      }
      a:hover {
        color: $chase-blue;
      }
    }
  }
}
.videoReview {
  @include Background(url(../imgs/gopro.jpg));
  height: 50vh;
  width: 100%;
  background-position: top 30% left 70%;
  background-attachment: fixed;
  margin-top: 60px;
  .reviewText {
    padding-top: 100px;
    padding-left: 170px;
    width: 44vw;
    .title {
      @include secTitle;
    }
    h3 {
      font-size: 40px;
      font-weight: $light-weight;
      color: $light-text;
      text-transform: capitalize;
      padding-top: 22px;
    }
  }
}
.quoteContain {
  height: 40vh;
  width: 100%;
  margin-top: 60px;
  .quoteRow {
    @include Display(row, space-evenly, unset);
    width: 90%;
  }
  .quoteText {
    height: 100%;
    width: 40%;
    padding-left: 80px;
    .title {
      @include secTitle;
    }
    h3 {
      font-size: 40px;
      font-weight: $heavy-weight;
      color: $dark-text;
      text-transform: capitalize;
      padding-top: 22px;
    }
    p {
      font-size: 17px;
      font-weight: $light-weight;
      padding-top: 10px;
    }
  }
  // Quote Form
  .quoteForm {
    @include Display(column, unset, unset);
    margin-top: -40px;
    margin-left: 110px;
    width: 40%;
  }
  .inputStyle {
    height: 5vh;
    font-size: 18px;
    font-weight: $light-weight;
    padding-left: 6px;
    background: transparent;
    border: none;
    border-bottom: 3px solid $accent;
    margin-top: 10px;
  }
  .serviceInterest {
    position: relative;
    height: 5vh;
    background-color: transparent;
    font-size: 18px;
    border: none;
    border-bottom: 3px solid $accent !important;
    cursor: pointer;
    margin-top: 10px;
  }
}
#submit {
  height: 5vh;
  width: 10vw;
  @include rmText;
  font-size: 14px;
  background-color: $chase-blue;
  cursor: pointer;
  margin-top: 20px;
}
#submit:hover {
  @include rmbtnHover;
}

.testimonialContain {
  width: 100%;
  height: 70vh;
  background-color: $bgColor;
  .title {
    @include secTitle;
    text-align: center;
    padding-top: 60px;
  }
  h3 {
    font-size: 34px;
    font-weight: $heavy-weight;
    color: $light-text;
    text-transform: capitalize;
    padding-top: 22px;
    text-align: center;
  }
  .testRow {
    @include Display(row, space-evenly, center);
    padding-top: 60px;
  }
  .testimonial {
    width: 30%;
    #testIcon {
      font-size: 30px;
      color: $chase-blue;
    }
    p {
      font-size: 17px;
      font-weight: $light-weight;
      color: $light-text;
      padding-top: 10px;
      line-height: 24px;
    }
    .user {
      font-size: 20px;
      color: $light-text;
      text-transform: capitalize;
      padding-top: 10px;
    }
  }
}
//GoogleMaps
#map {
  height: 70vh;
  width: 100%;
  z-index: 0;
}
.mapBanner {
  height: 70vh;
  width: 26vw;
  background-color: $chase-blue;
  position: relative;
  float: right;
  margin-top: -559px;
  margin-right: 120px;
  .stl {
    font-size: 30px;
    font-weight: $light-weight;
    color: $light-text;
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
  }
  .bannerAd {
    padding-top: 40px;
    padding-left: 30px;
    h4 {
      @include bannerText;
      .fa-map-marker {
        padding-left: 60%;
      }
    }
    p {
      @include bannerPara;
    }
  }
  .bannerPhone {
    padding-top: 40px;
    padding-left: 30px;
    h4 {
      @include bannerText;
      .fa-phone {
        padding-left: 55%;
      }
    }
    p {
      @include bannerPara;
    }
  }
  .bannerEmail {
    padding-top: 40px;
    padding-left: 30px;
    h4 {
      @include bannerText;
      .fa-envelope {
        padding-left: 58%;
      }
    }
    p {
      @include bannerPara;
    }
  }
  .bannerHours {
    padding-top: 40px;
    padding-left: 30px;
    h4 {
      @include bannerText;
      .fa-clock {
        padding-left: 55%;
      }
    }
    p {
      @include bannerPara;
    }
  }
}
