.weaContain {
  height: auto;
  width: 100%;
  .aboutIntro {
    @include Display(row, space-evenly, unset);
    width: 90%;
    padding-top: 100px;
    margin-left: 110px;
    //Responsive
    @include Laptop {
      margin-left: 60px;
    }
    @include Tablet {
      margin-left: 30px;
      padding-top: 40px;
    }
    .textblock {
      height: auto;
      width: 40%;
      //Responsive
      @include Mobile {
        width: 100%;
        text-align: center;
      }
      .title {
        @include secTitle;
        //Responsive
        @include Tablet {
          padding-top: 0px;
        }
      }
      h3 {
        font-size: 40px;
        font-weight: $light-weight;
        color: $dark-text;
        text-transform: capitalize;
        padding-top: 40px;
        //Responsive
        @include Tablet {
          font-size: 30px;
          padding-top: 20px;
        }
        @include Mobile {
          font-size: 20px;
        }
      }
      p {
        font-size: 18px;
        font-weight: $light-weight;
        padding-top: 10px;
        color: $dark-text;
        //Responsive
        @include Mobile {
          font-size: 16px;
        }
      }
      .btnContain {
        margin-top: 30px;
        width: 120px;
        border: 1px solid $chase-blue;
        transition: $global-Trans;
        text-align: center;
        padding: 6px;
        //Responsive
        @include Mobile {
          margin-left: 140px;
        }
        .mainRM {
          @include rmText;
          color: $dark-text;
        }
      }
      .btnContain:hover {
        @include rmbtnHover;
        border: none;
        .mainRM {
          color: $light-text;
        }
      }
    }
    .imgLogo {
      width: 50%;
      //Responsive
      @include Mobile {
        display: none;
      }
      img {
        height: 90%;
        width: 90%;
        //Responsive
        @include Tablet {
          height: 100%;
          width: 100%;
        }
      }
      .abtLogo {
        height: 70%;
        width: 50%;
        margin-top: -270px;
        margin-left: 50%;
        transition: $global-Trans;
        //Responsive
        @include Tablet {
          margin-left: 60%;
        }
      }
      .abtLogo:hover {
        transform: $global-scale;
      }
    }
  }
}
//Support Section
.supportContain {
  @include Background(url(../imgs/securityguard1.jpg));
  height: 70vh;
  margin-top: 40px;
  .title {
    @include secTitle;
    padding-top: 40px;
    padding-left: 43%;
    //Responsive
    @include Laptop {
      padding-left: 40%;
    }
    @include Tablet {
      padding-left: 6%;
    }
  }
  .supportGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    margin-left: 43%;
    //Responsive
    @include lgLaptop {
      margin-top: 20px;
    }
    @include Laptop {
      grid-row-gap: 28px;
      margin-left: 40%;
    }
    @include Tablet {
      margin-left: 6%;
    }
  }
  #gridBlock {
    width: 25vw;
    //Responsive
    @include Tablet {
      width: 40vw;
    }
    #gridIcon {
      font-size: 30px;
      color: $chase-blue;
      //Responsive
      @include Mobile {
        font-size: 22px;
      }
    }
    h3 {
      font-size: 24px;
      font-weight: $light-weight;
      text-transform: capitalize;
      color: $light-text;
      padding-top: 6px;
      //Responsive
      @include Mobile {
        font-size: 18px;
      }
    }
    p {
      font-size: 18px;
      font-weight: $light-weight;
      color: $light-text;
      padding-top: 6px;
      //Responsive
      @include Laptop {
        font-size: 16px;
      }
      @include Mobile {
        font-size: 14px;
      }
    }
  }
}
//Services
.hmeService {
  height: auto;
  width: 100%;
  //Responsive
  @include Laptop {
    margin-bottom: 20px;
  }
  .title {
    @include secTitle;
    text-align: center;
    padding-top: 30px;
  }
  .servSubTitle {
    font-size: 36px;
    font-weight: $light-weight;
    color: $dark-text;
    text-transform: capitalize;
    padding-top: 10px;
    text-align: center;
  }
}
.serviceRow {
  width: 100%;
  margin-top: 50px;
  @include Display(row, space-evenly, center);
  //Responsive
  @include Tablet {
    @include Display(column, unset, unset);
  }
  @include lgMobile {
    margin-top: 18px;
  }
}
.serviceNav {
  height: 50vh;
  width: 28vw;
  border: 1px solid $accent;
  padding: 40px 14px 14px 14px;
  //Responsive
  @include Laptop {
    padding-top: 0px;
  }
  @include Tablet {
    width: 80%;
    height: 30vh;
    text-align: center;
    margin-left: 60px;
  }
  @include Mobile {
    margin-left: 40px;
  }
  .title {
    @include secTitle;
    width: 20%;
    //Responsive
    @include Tablet {
      width: 100%;
    }
    @include lgMobile {
      font-size: 22px;
    }
  }
  h3 {
    font-size: 30px;
    font-weight: $light-weight;
    color: $dark-text;
    text-transform: capitalize;
    padding-top: 12px;
    width: 100%;
    //Responsive
    @include Laptop {
      padding-top: 4px;
    }
    @include lgMobile {
      font-size: 26px;
    }
    @include Mobile {
      font-size: 22px;
    }
  }
  p {
    font-size: 17px;
    font-weight: $light-weight;
    padding-top: 10px;
    line-height: 28px;
    width: 100%;
    //Responsive
    @include lgMobile {
      font-size: 14px;
    }
    @include Mobile {
      font-size: 12px;
    }
  }
}
.serviceThumbnails {
  width: 60vw;
  padding-left: 30px;
  padding-bottom: 40px;
  //Resposonsive
  @include Tablet {
    width: 100%;
    padding-left: 8px;
  }
  .serviceSlides {
    @include Display(row, space-evenly, unset);
    width: 100%;
    //Responsive
    @include Tablet {
      @include Display(row, unset, unset);
    }
  }
  //Display for each block
  #slideBlockTwo {
    margin-top: 20px;
  }
  #serveZoom {
    transform: scale(0.9);
    transition: $global-Trans;
  }
  #serveZoom:hover {
    transform: scale(1.1);
    box-shadow: $global-shadow;
    // border: 1px solid $accent;
    background-color: #f5f5f5;
    h3 {
      color: $chase-blue;
    }
    //Responsive
    @include Tablet {
      transform: scale(1);
    }
  }
  .serviceBlock {
    height: 43vh;
    width: 18vw;
    //Responsive
    @include Tablet {
      width: 32%;
      height: 53%;
    }
    img {
      height: 52%;
      width: 100%;
    }
    h3 {
      font-size: 24px;
      font-weight: $light-weight;
      color: $dark-text;
      text-transform: capitalize;
      padding: 10px;
      //Responsive
      @include lgLaptop {
        font-size: 20px;
      }
      @include Laptop {
        font-size: 18px;
      }
    }
    p {
      font-size: 14px;
      font-weight: $light-weight;
      color: $dark-text;
      padding: 0px 10px 0px 10px;
      width: 100%;
      //Responsive
      @include lgLaptop {
        font-size: 12px;
      }
      @include Tablet {
        font-size: 14px;
      }
    }
    .hsReadBtn {
      padding: 12px 0px 8px 10px;
      a {
        font-size: 17px;
        color: $dark-text;
        transition: $global-Trans;
        text-transform: capitalize;
        .fa-arrow-right {
          padding-left: 6px;
          color: $chase-blue;
          transition: 0.8s;
        }
      }
      a:hover {
        color: $chase-blue;
      }
    }
  }
}
.videoReview {
  @include Background(url(../imgs/gopro.jpg));
  height: 50vh;
  width: 100%;
  background-position: top 30% left 70%;
  // background-attachment: fixed;
  //Responsive
  @include Mobile {
    height: 30vh;
  }
  .reviewText {
    padding-top: 80px;
    padding-left: 60px;
    width: 44vw;
    //Responsive
    @include Laptop {
      width: 50vw;
    }
    @include Tablet {
      width: 60%;
    }
    @include Mobile {
      width: 80%;
      padding-top: 40px;
    }
    .title {
      @include secTitle;
    }
    h3 {
      font-size: 40px;
      font-weight: $light-weight;
      color: $light-text;
      text-transform: capitalize;
      padding-top: 22px;
      //Responsive
      @include Laptop {
        font-size: 34px;
      }
      @include Tablet {
        font-size: 30px;
      }
      @include lgMobile {
        font-size: 24px;
      }
    }
  }
}
.testimonialQuoteContain {
  @include Background(url(../imgs/texture.png));
  height: 70vh;
  background-attachment: fixed;
  @include Display(row, space-evenly, unset);
  .quoteText {
    height: 80%;
    width: 30%;
    margin-top: 50px;
    background-color: #f7f7f7;
    padding: 20px;
    transition: $global-Trans;
    transform: scale(0.9);
    //Responsive
    @include Tablet {
      width: 60%;
    }
    .quoteForm {
      @include Display(column, unset, unset);
      margin-left: 10px;
      width: 96%;
      h3 {
        font-size: 30px;
        font-weight: $heavy-weight;
        color: $dark-text;
        text-transform: capitalize;
        padding-top: 10px;
        text-align: center;
        //Responsive
        @include Laptop {
          font-size: 24px;
        }
        @include Mobile {
          font-size: 20px;
        }
      }
      .inputStyle {
        height: 5vh;
        font-size: 18px;
        font-weight: $light-weight;
        padding-left: 6px;
        background: transparent;
        border: none;
        border-bottom: 3px solid $accent;
        margin-top: 20px;
      }
      .serviceInterest {
        position: relative;
        height: 5vh;
        background-color: transparent;
        font-size: 18px;
        border: none;
        border-bottom: 3px solid $accent !important;
        cursor: pointer;
        margin-top: 10px;
      }
      #submit {
        height: 5vh;
        width: 10vw;
        @include rmText;
        font-size: 14px;
        background-color: $chase-blue;
        cursor: pointer;
        margin-top: 20px;
      }
      #submit:hover {
        @include rmbtnHover;
      }
    }
  }
  .quoteText:hover {
    box-shadow: $global-shadow;
    transform: scale(1);
  }
  //Testimonials start here
  .testimonialsContainer {
    height: 100%;
    width: 50%;
    //Responsive
    @include Tablet {
      width: 40%;
      margin-top: 40px;
      margin-right: 40px;
    }
    @include lgMobile {
      margin-top: 10px;
    }
    @include Mobile {
      margin-top: 10px;
      margin-right: 20px;
    }
    .title {
      @include secTitle;
      text-align: center;
      margin-top: 90px;
      //Responsive
      @include Tablet {
        font-size: 18px;
      }
    }
    h3 {
      font-size: 30px;
      font-weight: $heavy-weight;
      color: $light-text;
      text-transform: capitalize;
      padding-top: 22px;
      text-align: center;
      //Responsive
      @include Tablet {
        font-size: 18px;
      }
    }
    .testRow {
      // @include Display(row, space-evenly, center);
      padding-top: 60px;
      width: 100%;
      position: relative;
      //Responsive
      @include Tablet {
        padding-top: 30px;
      }
      #testSlide {
        display: none;
      }
      .testimonial {
        width: 100%;
        #testIcon {
          font-size: 30px;
          color: $chase-blue;
          width: 100%;
          text-align: center;
        }
        p {
          font-size: 17px;
          font-weight: $light-weight;
          color: $light-text;
          padding-top: 10px;
          line-height: 24px;
          width: 90%;
          text-align: center;
          margin-left: 30px;
          //Responsive
          @include Tablet {
            width: 100%;
            margin-left: 0px;
            font-size: 12px;
          }
          @include Mobile {
            line-height: unset;
          }
        }
        .user {
          font-size: 20px;
          color: $light-text;
          text-transform: capitalize;
          padding-top: 10px;
          width: 100%;
          text-align: center;
          //Responsive
          @include Tablet {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.mapContain {
  height: 70vh;
  width: 100%;
}
//GoogleMaps
#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}
.mapBanner {
  z-index: 99;
  height: 100%;
  width: 26vw;
  background-color: $chase-blue;
  position: relative;
  float: right;
  margin-top: -517px;
  margin-right: 166px;
  //Responsive
  @include lgMobile {
    margin-right: 120px;
  }
  .stl {
    font-size: 30px;
    font-weight: $light-weight;
    color: $light-text;
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    //Responsive
    @include lgMobile {
      font-size: 24px;
    }
  }
  .bannerAd {
    padding-top: 30px;
    padding-left: 30px;
    //Responsive
    @include Tablet {
      padding-left: 10px;
    }
    @include lgMobile {
      text-align: center;
      padding-left: 0px;
    }
    @include Mobile {
      padding-top: 20px;
    }
    h4 {
      @include bannerText;
      .fa-map-marker {
        padding-left: 60%;
        //Responsive
        @include Tablet {
          padding-left: 45%;
        }
        @include lgMobile {
          padding-left: 0%;
        }
      }
    }
    p {
      @include bannerPara;
      //Responsive
      @include lgMobile {
        width: 100%;
      }
    }
  }
  .bannerPhone {
    padding-top: 30px;
    padding-left: 30px;
    //Responsive
    @include Tablet {
      padding-left: 10px;
    }
    @include lgMobile {
      padding-left: 0px;
      text-align: center;
    }
    @include Mobile {
      padding-top: 20px;
    }
    h4 {
      @include bannerText;
      .fa-phone {
        padding-left: 55%;
        //Responsive
        @include Tablet {
          padding-left: 40%;
        }
        @include lgMobile {
          padding-left: 0%;
        }
      }
    }
    p {
      @include bannerPara;
      //Responsive
      @include lgMobile {
        width: 100%;
      }
    }
  }
  .bannerEmail {
    padding-top: 30px;
    padding-left: 30px;
    //Responsive
    @include Tablet {
      padding-left: 10px;
    }
    @include lgMobile {
      padding-left: 0px;
      text-align: center;
    }
    @include Mobile {
      padding-top: 20px;
    }
    h4 {
      @include bannerText;
      .fa-envelope {
        padding-left: 58%;
        //Responsive
        @include Tablet {
          padding-left: 45%;
        }
        @include lgMobile {
          padding-left: 0%;
        }
      }
    }
    p {
      @include bannerPara;
      //Responsive
      @include Tablet {
        font-size: 12px;
      }
      @include lgMobile {
        font-size: 11px;
        width: 100%;
      }
    }
  }
  .bannerHours {
    padding-top: 30px;
    padding-left: 30px;
    //Responsive
    @include Tablet {
      padding-left: 10px;
    }
    @include lgMobile {
      padding-left: 0px;
      text-align: center;
    }
    @include Mobile {
      padding-top: 20px;
    }
    h4 {
      @include bannerText;
      .fa-clock {
        padding-left: 55%;
        //Responsive
        @include Tablet {
          padding-left: 40%;
        }
        @include lgMobile {
          padding-left: 0%;
        }
      }
    }
    p {
      @include bannerPara;
      //Responsive
      @include lgMobile {
        width: 100%;
      }
    }
  }
}
