.headerContain {
  height: 100vh;
  width: 100%;
  @include Background(url(../imgs/Barnes2.jpg));
  background-attachment: fixed;
  padding-top: 10px;
  @include lgMobile {
    // height: 60vh;
    transform: scale(0.9);
    background-attachment: unset;
  }
  .navContainer {
    height: 24vh;
    width: 95%;
    padding-left: 20px;
    //Responsive
    @include Tablet {
      height: 42vh;
      padding-left: 0px;
    }
    .headerRow {
      height: 50%;
      width: 100%;
      @include Display(row, spaced-evenly, unset);
      //Responsive
      @include Tablet {
        @include Display(column, unset, center);
      }
    }
    .rowOne {
      .headerLogo {
        height: 100%;
        width: 40%;
        @include Display(row, space-evenly, unset);
        //Responsive
        @include Tablet {
          margin-left: 100px;
        }
        @include Mobile {
          margin-left: -40px;
        }
        .logoText {
          width: 50%;
          height: 100%;
          h1 {
            font-family: $primary-font;
            font-weight: lighter;
            color: $light-text;
            font-size: 66px;
            text-transform: capitalize;
          }
          h4 {
            font-family: $primary-font;
            font-size: 30px;
            font-weight: lighter;
            color: $light-text;
            letter-spacing: 17px;
            margin-left: 8px;
            margin-top: -22px;
          }
        }
        .logo {
          img {
            height: 100%;
            width: 40%;
            margin-left: -120px;
            //Responsive
            @include lgLaptop {
              margin-left: -64px;
            }
            @include Laptop {
              margin-left: -16px;
            }
            @include Tablet {
              margin-left: 32px;
              height: 80%;
            }
            @include Mobile {
              margin-left: 100px;
              margin-top: 20px;
              width: 60%;
              height: 60%;
            }
          }
        }
      }
      .headerContact {
        padding-top: 33px;
        padding-left: 3%;
        @include Display(row, space-evenly, unset);
        //Responsive
        @include lgLaptop {
          padding-left: 15%;
        }
        @include Laptop {
          padding-left: 8%;
        }
        @include Tablet {
          padding-left: 6%;
        }
        @include Mobile {
          width: 100%;
          padding-left: 5%;
        }
        @include medMobile {
          @include Display(column, unset, unset);
          text-align: center;
        }
        .headerLink {
          font-family: $primary-font;
          font-size: 20px;
          font-weight: lighter;
          color: $light-text;
          //Responsive
          @include Mobile {
            font-size: 15px;
          }
        }
        .headerEmail {
          padding-left: 30px;
          //Responsive
          @include medMobile {
            padding-left: 0px;
          }
        }
      }
    }
    .rowTwo {
      margin-top: 30px;
      .mainMenu {
        height: 100%;
        width: 94%;
        //Responsive
        @include Tablet {
          height: 32%;
          margin-left: 150px;
        }
        @include Mobile {
          width: 100%;
          margin-left: 32px;
        }
        .current {
          border: 2px solid #62adc292;
        }
        a {
          font-family: $primary-font;
          font-size: 20px;
          font-weight: lighter;
          color: $light-text;
          text-transform: capitalize;
          margin-left: 2%;
          width: 20%;
          padding: 6px 12px 6px 12px;
          //Responsive
          @include Mobile {
            font-size: 14px;
            margin-left: 0%;
            width: 10%;
          }
          @include medMobile {
            font-size: 11px;
          }
        }
      }
      .headSocIcon {
        font-size: 22px;
        color: $light-text;
        //Responsive
        @include Tablet {
          margin-left: 34px;
        }
        @include Mobile {
          margin-left: 0px;
        }
        @include medMobile {
          font-size: 16px;
        }
      }
      .headSocIcon:hover {
        color: $chase-blue;
      }
      .fa-linkedin-in {
        padding-left: 10px;
      }
    }
  }
  .welcomeMessageContain {
    height: auto;
    width: 50%;
    margin-top: 10%;
    margin-left: 3%;
    //Responsive
    @include Tablet {
      text-align: center;
      width: 94%;
    }
    @include Mobile {
      width: 100%;
      margin-top: 16%;
    }
    h2 {
      font-family: $primary-font;
      font-size: 46px;
      font-weight: lighter;
      color: $light-text;
      word-spacing: 4px;
      //Responsive
      @include Tablet {
        font-size: 34px;
        width: 80%;
        margin-left: 64px;
      }
      @include Mobile {
        width: 90%;
        margin-left: 10px;
        font-size: 24px;
      }
    }
    p {
      font-family: $primary-font;
      font-weight: lighter;
      font-size: 18px;
      color: #f5f5f592;
      line-height: 32px;
      width: 70%;
      margin-top: 20px;
      //Responsive
      @include Tablet {
        margin-left: 100px;
      }
      @include Mobile {
        margin-left: 30px;
        width: 80%;
      }
    }
  }
}
