.serviceHeader {
  @include Background(url(../imgs/chaseofficer.jpg));
  height: 40vh;
}
.serviceWelcome {
  margin-top: 80px;
  h2 {
    font-size: 34px;
  }
}
.standards {
  text-align: left;
  margin-top: 60px;
  margin-left: 60px;
  h2 {
    font-size: 30px;
    font-weight: $light-weight;
    text-transform: capitalize;
  }
  p {
    width: 560px;
    text-align: center;
    padding-top: 20px;
    padding-left: 444px;
    line-height: 34px;
    //Responsive
    @include Tablet {
      text-align: center;
      padding-left: 100px;
    }
    @include Mobile {
      width: 300px;
      padding-left: 60px;
    }
  }
  //Standards Responsive
  text-align: center;
  margin-left: 0px;
}
//Service Grid
.servicesGrid {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-gap: 20px;
  margin-top: 60px;
  margin-left: 190px;
  //Responsive
  @include Laptop {
    grid-template-columns: 300px 300px 300px;
    margin-left: 40px;
  }
  @include Tablet {
    grid-template-columns: 300px 300px;
    margin-left: 70px;
  }
  @include Mobile {
    grid-template-columns: 300px;
    margin-left: 70px;
  }
}
.serveBlock {
  border: 2px solid $accent;
  overflow: hidden;
  img {
    height: 200px;
    width: 340px;
    transition: $global-Trans;
  }
  img:hover {
    transform: scale(1.1);
    box-shadow: $global-shadow;
  }
  a {
    color: inherit;
    h3 {
      font-size: 26px;
      font-weight: $light-weight;
      text-transform: capitalize;
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  p {
    width: 300px;
    font-size: 14px;
    font-weight: $light-weight;
    line-height: 30px;
    padding-left: 10px;
  }
}
