.mainContainer {
  height: auto;
  width: 100%;
  @include Display(row, space-evenly, unset);
  margin-top: 80px;
}
.lftCol {
  height: 100%;
  width: 20%;
  .mreServices {
    height: auto;
    width: 100%;
    background-color: $accent;
    @include Display(column, space-evenly, center);
    .currentLink {
      background-color: black;
      border: 2px solid $chase-blue;
      color: $chase-blue;
    }
    a {
      font-family: $primary-font;
      font-size: 20px;
      font-weight: lighter;
      color: $dark-text;
      text-transform: capitalize;
      width: 100%;
      padding: 10px 0 10px 10px;
      border-top: 3px solid #f5f5f5;
    }
    a:hover {
      background-color: black;
      border: 2px solid $chase-blue;
      color: $chase-blue;
    }
  }
  .testimonialThumbnail {
    margin-top: 70px;
    border: 1px solid $accent;
    height: auto;
    width: 100%;
    p {
      font-family: $primary-font;
      font-weight: lighter;
      font-size: 17px;
      color: $dark-text;
      width: 90%;
      text-align: center;
      padding: 20px;
    }
    h4 {
      font-family: $primary-font;
      font-size: 17px;
      font-weight: lighter;
      color: $chase-blue;
      text-align: center;
      padding-bottom: 10px;
    }
  }
  .miniContact {
    margin-top: 60px;
    border: 1px solid $accent;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    h4 {
      font-family: $primary-font;
      font-size: 20px;
      color: $dark-text;
      padding-top: 10px;
      padding-left: 20px;
    }
    p {
      font-family: $primary-font;
      font-size: 17px;
      font-weight: lighter;
      line-height: 22px;
      padding: 10px 0 10px 20px;
    }
    .miniLoc {
      font-family: $primary-font;
      font-size: 18px;
      font-weight: lighter;
      text-transform: capitalize;
      color: $dark-text;
      padding-left: 20px;
      width: 100%;
    }
    .miniLoc:hover {
      color: $chase-blue;
    }
  }
}
.serviceDescContainer {
  width: 70%;
  height: auto;
}
.serveContain {
  @include Display(row, space-evenly, unset);
}
.serviceOverview {
  height: auto;
  width: 100%;
  h2 {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: lighter;
    color: $dark-text;
    text-transform: capitalize;
  }
  .underline {
    height: 2px;
    width: 90px;
    background-color: $chase-blue;
    margin-bottom: 10px;
  }
  h4 {
    margin-bottom: 6px;
    strong {
      font-family: $primary-font;
      font-size: 18px;
      color: $chase-blue;
    }
  }
  p {
    font-family: $primary-font;
    font-size: 17px;
    color: $dark-text;
    line-height: 28px;
  }
}
.photoLink {
  @include Background(url(../imgs/consultPhoto.jpg));
  height: 40vh;
  width: 50%;
  margin-left: 6px;
  img {
    height: 40vh;
    width: 100%;
  }
  .consultText {
    margin-top: -8px;
    height: auto;
    width: 100%;
    background-color: $accent;
    text-align: center;
    padding: 10px 0 10px 0;
    h4 {
      font-family: $primary-font;
      font-size: 20px;
      font-weight: lighter;
      color: $dark-text;
      text-transform: capitalize;
    }
    p {
      font-family: $primary-font;
      font-size: 18px;
      text-transform: capitalize;
      color: $chase-blue;
      cursor: pointer;
    }
  }
}
.researchAnalysis {
  height: auto;
  width: 100%;
  margin-top: 120px;
  h2 {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: lighter;
    color: $dark-text;
    text-transform: capitalize;
  }
  .underline {
    height: 2px;
    width: 70px;
    background-color: $chase-blue;
    margin-bottom: 10px;
  }
  p {
    font-family: $primary-font;
    font-size: 17px;
    color: $dark-text;
    line-height: 28px;
  }
  .chaseCheckmark {
    height: auto;
    width: 100%;
    @include Display(row, space-evenly, center);
    margin-top: 40px;
    .analysis {
      height: 100%;
      width: 20%;
      img {
        height: 100%;
        width: 100%;
      }
      h3 {
        font-family: $primary-font;
        font-weight: lighter;
        font-size: 22px;
        color: $dark-text;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
  .resultBox {
    height: auto;
    width: 98%;
    background-color: $accent;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 80px;
    p {
      font-size: 17px;
      font-weight: lighter;
      color: $dark-text;
      width: 100%;
    }
  }
}
