//Typography
$primary-font: "Open Sans", sans-serif;

//Font weight
$light-weight: lighter;
$heavy-weight: 400;

// text colors
$chase-blue: #62adc2;
$dark-text: #303030;
$light-text: #e7e7e7eb;

// shape colors
$accent: #e7e7e7;
$bgColor: #303030;

//Transtion
$global-Trans: 0.6s;

//scale
$global-scale: scale(1.1);

//Read More Buttons
$btn-Radius: 40px;

//box shadow
$global-shadow: 4px 4px 10px black;
